.entrenador-layout {
    display: flex;
    min-height: 100vh;
    background-color: #f4f7fa;
}

.main-content-area {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto; /* Para scroll si el contenido es largo */
}